[user]
	name = a_m0d
	email = damien.schoof@gmail.com
[giggle]
	compact-mode = false
	main-window-maximized = true
	main-window-geometry = 700x567+11+113

[alias]
    lc = log ORIG_HEAD.. --stat --no-merges
    llog = log --date=local
    changes = diff --name-status -r
    diffstat = diff --stat -r
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p
    who = shortlog -s --
	merge = merge --no-ff
